<div class="col-sm-4">
	<div class="box">
		<a href="#" data-toggle="modal" data-target="#cardModalroutes">
			<div class="image" style="background-image: url(<%= asset_path('backgrounds/card.png') %>);"></div>
		</a>
		<div class="info room-info">
			<h4 class="room"><%= t 'cards.routes' %></h4>
			<div class="room-desc"><%= t 'cards.routes_text' %></div>

			<div class="sep"></div>
			
			<a href="#" data-toggle="modal" data-target="#cardModalroutes" class="more"><%= t 'cta.learn_more' %></a>
		</div>
	</div>
</div>	