	<div class="col-sm-4">
		<div class="box">
			<a href="#" data-toggle="modal" data-target="#cardModalpricing">
				<div class="image" style="background-image: url(<%= asset_path('backgrounds/card.png') %>);"></div>
			</a>

			<div class="info">
				<a href="#" data-toggle="modal" data-target="#cardModalpricing">
					<h3><%= t 'cards.pricing' %></h3>
				</a>
				<p class="desc"><%= t 'cards.pricing_text' %></p>
			</div>
			
		</div>
	</div>