// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2.spacer {
	margin: 1em 0em;
	text-align: center;
	&.spacer-double {
		margin: 2em 0em;
	}
}

div.highlights-container {
	// max-width: 960px;
}

